<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>

<body>
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send"> -->

    

    <div><textarea id="window1" cols="100" rows="6"></textarea></div>
    <div><input id="message-input" type="text"></div>
    <div><input id="message-submit" type="button" value="Send"></div>

    <div><textarea id="window2" cols="100" rows="6"></textarea></div>
    {{ room_name|json_script:"room-name" }}






    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'wss://' +
            window.location.host +
            '/ws/chat/' +
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#window1').value += (data.message + '\n');
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#message-input').focus();
        document.querySelector('#message-input').onkeyup = function (e) {
            if (e.keyCode === 13) { // enter, return
                document.querySelector('#message-submit').click();
            }
        };

        document.querySelector('#message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                //как мы формировали сокеты раньше 
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
</body>

</html>