{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" type="text/css" href="../../static/chat/css/style.css">
</head>

<body>

    {{ game.status }}
    {{ room_name|json_script:"room-name" }}

    {% if game.status == "W" %}
        <div>
            <div>waiting room</div>
        </div>

    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        console.log(roomName);
        console.log("carpet");
        const chatSocket = new WebSocket(
            'wss://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function(e) {
            console.log(e);
        };

        chatSocket.onmessage = function(e) {


            console.log(';)');
            const data = JSON.parse(e.data);
            console.log(data);

            if (data.message.type === 'players') {
                console.log('hello 1');
            }

            window.location.reload();
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    
    </script>
    

    {% elif game.status == "A" %}

        <div class="game__task">
            <h1 class="game__task-text">Remember as many <span class="game__task-category">{{ game.task.category.name }}</span> staring with <span class="game__task-letter">{{ game.task.letter }}</span></h1>
        </div>

        <div class="game__countdown">
            <p class="game__countdown-text"><span id='time_left' class="game__countdown-number"></span> seconds left</p>
        </div>

        <div>
            <h2 id="username1"></h2>
            <textarea id="window1" cols="100" rows="6"></textarea>
        </div>
        <div><input id="message-input" type="text"></div>
        <div id="message-error"></div>
        <div><input id="message-submit" type="button" value="Send"></div>

        <div>
            <h2 id="username2"></h2>
            <textarea id="window2" cols="100" rows="6"></textarea>
        </div>


        <script>
            
            console.log('{{game}}');
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
    
            const chatSocket = new WebSocket(
                'wss://' +
                window.location.host +
                '/ws/chat/' +
                roomName +
                '/'
            );

            chatSocket.onopen = function(e) {
                console.log(e);
                console.log('{{game.status}}');
                console.log('{{game.player_2}}');
                console.log('{{game.player_2.user.username}}');
                
                if ('{{game.status}}' == 'A'){
                    console.log("nice!");
                    chatSocket.send(JSON.stringify({
                        //как мы формировали сокеты раньше 
                        'message': 'lyalyalya'
                    }));
                }
            };
    
            chatSocket.onmessage = function (e) {


                const data = JSON.parse(e.data);

                if (data.message.type === 'players') {
                    console.log('hello 2');
                }

                console.log(data);
                console.log("the user is:");
                console.log("{{user}}");
                if ("{{user}}" === data.message.sender && data.message.type === "success") {
                    document.querySelector('#window1').value += (data.message.text + '\n');
                    document.querySelector('#message-error').innerText = '';
                }
                else if (data.message.type === "success") {
                    document.querySelector('#window2').value += (data.message.text + '\n');
                }

                else if (data.message.type === "error") {
                    console.log("wooo!");
                    console.log(data.message.text);
                    document.querySelector('#message-error').innerText = (data.message.text);
                }
                else {
                    console.log(data);
                }

                // if ('{{data.status}}' == 'A' && user === '{{data.player_2.user.username}}'){
                //     console.log(user, '{{data.player_2.user.username}}');
                //     message = 'lyalyalya'
                //     chatSocket.send(JSON.stringify({
                //         'message': message
                //     }));
                // }

            };


    
            chatSocket.onclose = function (e) {
                console.error('Chat socket closed unexpectedly');
            };
    
            document.querySelector('#message-input').focus();
            document.querySelector('#message-input').onkeyup = function (e) {
                if (e.keyCode === 13) { // enter, return
                    document.querySelector('#message-submit').click();
                }
            };
    
            document.querySelector('#message-submit').onclick = function (e) {
                const messageInputDom = document.querySelector('#message-input');
                const message = messageInputDom.value;
                chatSocket.send(JSON.stringify({
                    //как мы формировали сокеты раньше 
                    'message': message
                }));
                messageInputDom.value = '';
            };

        
            let updateTimer = () => {
                var date = (new Date('{{ game.end_time }}') - new Date()) / 1000 >> 0;
                document.querySelector('#time_left').innerText = date;
                if (date > 0)
                {
                    setTimeout(updateTimer, 200);
                }
                else
                {
                    console.log('game over')
                    console.log('{{game.id}}')
                    fetch('/api/gameover/{{ game.id }}/', {
                        method: 'PUT',
                        headers: {
                        'X-CSRFToken': '{{csrf_token}}',
                        },
                        credentials: "same-origin",
                    })
                    .then(res => {
                        res.json()
                        .then(data => {
                            console.log(data);
                            window.location.reload();
                        });
                    });
                }
            }

            updateTimer();

            


        </script>

    {% elif game.status == "P" %}
        <div>processing</div>

    {% elif game.status == "F"%}
        <div>the game is finished</div>

    {% else %}
        <div> status undefined </div>

    {% endif %}

    



</body>

</html>