* {
    color: var(--light_color);
    font-family: 'Press Start 2P', cursive;

}

body {
    background: var(--solid_color);

}


.waiting_container{
  vertical-align: middle;
  display: grid;
  grid-template-columns: repeat(2, auto [col-start]);
  margin: auto;
  margin-top: 200px;
}

.main_text{
  justify-self: center;
  align-self: center;

  font-size: 10px;
}

.gameover_container {
  vertical-align: middle;
  display: grid;
  grid-template-columns: repeat(3, auto [col-start]);
  margin-top: 80px;
}

.a_btn {
  background: none;
  color: var(--light_color);
  border-radius: 2px;
  height: 50px;
  width: 200px;
  font-size: 15px;
  transition: all 0.4s;
  box-shadow: 0 10px 20px var(--shadow_color);
  margin: 5px;
  margin: auto;
  background-color: var(--button_color);
  border-width: 2px 1px 16px 16px;
  border-style: solid;
  border-top-color: var(--light_color);
  border-right-color: var(--accent_color);
  border-bottom-color: var(--accent_color);
  border-left-color: var(--light_color);
  position: relative;
  margin: 20px;
}

.a_btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 0 10px 20px var(--shadow_color);
}

.a_btn:focus {
  outline: none;
}

.game_over_btn {
  width: 250px;
  height: 80px;
}


.text_container {
  width: 500px;
  height: 400px;
  margin: auto;
  vertical-align: middle;
}

.bouncing_bunny {
  margin: auto;
  position: relative;
  float: right;
}

.other {
  margin: auto;
}


/* .speech-bubble {
  position: relative;
  margin: .5em auto;
  padding: 1em;
  width: 700px; height: 140px;
  border-radius: 160px;
  transform: rotate(-6deg) rotateY(15deg);
  background: var(--button_color);
  color: var(--solid_color);
  font-size: 20px;
  text-align: center;

  justify-content: center;
  align-items: center;

}
.speech-bubble:before, .speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}
.speech-bubble:after {
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(30px, -10px) scale(1.02);
  background: var(--button_color);
}
.speech-bubble:before {
  border: solid 0 transparent;
  border-right: solid 3.5em var(--accent_color);
  border-bottom: solid .25em var(--shadow_color);
  bottom: 0.1px; left: 650px;
  width: 40px; height: 50px;
  transform: rotate(15deg) skewX(75deg);
  border-radius: 30px;
} */



.waiting_bunny {
  float: centre;
  width: 180px;
}

.bunny {
  margin-top: 100px;
}

.hidden {
  opacity:0;
}

.waiting_text {
  font-size: 32px;
  color: var(--double_accent_color);
  animation: squiggly-anim 0.80s linear infinite;
}

.exit_text {
  font-size: 32px;
  color: var(--double_accent_color);
  animation: squiggly-anim 0.80s linear infinite;
}

.exit_waiting_btn {
  width: 210px;
  height: 30px;
  background-color: var(--button_color);
  border-width: 2px 1px 16px 16px;
  border-style: solid;
  border-top-color: var(--light_color);
  border-right-color: var(--accent_color);
  border-bottom-color: var(--accent_color);
  border-left-color: var(--light_color);
  position: relative;
  background: none;
  margin-top: 20px;
}

.exit_waiting_btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.exit_waiting_btn:focus {
  outline: none;
}
/* ------------------------------------------------------------------------- */

.exit-bubble {
  position: relative;
  margin: .5em auto;
  padding: 1em;
  width: 620px; height: 100px;
  border-radius: 160px;
  transform: rotate(-6deg) rotateY(15deg);
  background: var(--button_color);
  color: var(--accent_color);
  font-size: 15px;
  text-align: center;

  justify-content: center;
  align-items: center;
  float: right;
  margin-top: 40px;
  margin-right: 60px;

}
.exit-bubble:before, .exit-bubble:after {
  position: absolute;
  z-index: -1;
  content: '';
}
.exit-bubble:after {
  top: 0; right: 0; bottom: 0; left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(30px, -10px) scale(1.02);
  background: var(--button_color);
}
.exit-bubble:before {
  border: solid 0 transparent;
  border-right: solid 3.5em var(--accent_color);
  border-bottom: solid .25em var(--shadow_color);
  /* bottom: 0.1px; left: 200px; */
  top: 0.1px; left: 600px;
  width: 40px; height: 25px;
  transform: rotate(165deg) skewX(75deg);
  border-radius: 30px;
}

.exit_btn {
  width: 210px;
  height: 30px;
  background-color: var(--button_color);
  border-width: 2px 1px 16px 16px;
  border-style: solid;
  border-top-color: var(--light_color);
  border-right-color: var(--accent_color);
  border-bottom-color: var(--accent_color);
  border-left-color: var(--light_color);
  position: relative;
  background: none;
  margin-top: 20px;
}

.exit_btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.exit_btn:focus {
  outline: none;
}

/* body {
  background-color: var(--color-background);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  font-family: var(--font-name);
  
  height: 100vh;
} */


body {
    text-align: center;
}


.gameover_text1 {
  font-size: 32px;
  color: var(--double_accent_color);
  animation: squiggly-anim 0.80s linear infinite;
}

.gameover_text2 {
  font-size: 16px;
  color: var(--accent_color);
  animation: squiggly-anim 0.80s linear infinite;
}

@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}





