<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>

    {% if user.is_authenticated %}
        <p id="new_game_btn">New Game!</p>
        <a href="logout/">Logout!</a>

    {% else %}
        <a href="login/">Login</a>
    {% endif %}




    <script>
        document.querySelector('#new_game_btn').onclick = function(e) {
                console.log('it works')
                var data = new FormData();
                console.log('{{user.id}}')
                console.log('{{user.user.id}}')

                data.append('user_id', parseInt('{{user.id}}'));
                fetch('/api/game/', {
                    method: 'POST',
                    headers: {
                      'X-CSRFToken': '{{csrf_token}}',
                    },
                    body: data,
                    credentials: "same-origin",
                }).then(res=>{
                    res.json().then(data=>{
                        // window.location.replace('/game/' + data.id);
                    });
                    
                });
    
            };
    </script>

</body>
</html>

