{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/title.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/colors.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../static/dashboard/images/favicon2.ico"/>
    <title>Dashboard</title>
</head>
<body>

    {% if user.is_authenticated %}
    <div class="container">
        <header class="topbar">
            <a href="/logout" class="topbar__btn game_btn">Logout!</a>
        </header>

        <main class="dashboard">
            <div class="dashboard__title">
                <h1>
                    <span>B</span>
                    <span>U</span>
                    <span>N</span>
                    <span>S</span>
                    <span>!</span>
                </h1>
            </div>

            <div class="dashboard__columns">

                <div class="dashboard__game_list">

                    <ul class="game_list">
                        {% if active_games %}
                            {% for game in active_games %} 
                                {% if game.player_1.user.id == user_id or game.player_2.user.id == user_id %}
                                <li class="game_item"><p class="open_game" id="open_game--{{ game.id }}">
                                    {% if game.player_1.user.id == user_id %}
                                        {{game.player_2.user}},
                                    {% else %}
                                        {{game.player_1.user}},
                                    {% endif%} {{ game.get_status_display }}</p></li>
                                {% endif %}
                            {% endfor %}
                        {% endif%}
            
                        {% if waiting_games %}
                            {% for game in waiting_games %} 
                                {% if game.player_1.user.id != user_id %}
                                <li><p class="join_game" id="join_game--{{ game.id }}">{{game.player_1}}, {{ game.get_status_display }}</p></li>
                                {% endif %}
                            {% endfor %}
                        {% endif%}
            
                        {% if not waiting_games and not active_games %}
                            <div>
                                <p>There are no games yet!</p>
                                <p>You can create your own or come back later :)</p>
                            </div>
                            
                        {% endif%}
                            
                    </ul>


                    <div class="dashboard__buttons">

                        <button class="dashboard__btn game_btn" id="sound_btn" onclick="myFunctionSound()">Sound</button>

                        <button class="dashboard__btn game_btn" id="theme_btn" onclick="myFunctionTheme()">Themes</button>
                        
                        <button class="dashboard__btn game_btn" id="games_btn" onclick="myFunctionGames()">Games</button>

                    </div>

                </div>

                
                <div class="dashboard__new_game">
                    <div class="dashboard__btn new_game_btn game_btn" id="new_game_btn">New Game!</div>

                    <div class="dashboard__bunny">
                        <img class="bunny" src="../../static/dashboard/images/bun.gif" alt="a bun">
                    </div>
                </div>


            </div>

            <!-- <embed name="sad lion" id="myAudio" src="../../static/dashboard/music/shark.mp3" loop="True" hidden="true" autostart="true" preload="none" volume="50%"> -->
            <!-- <embed name="sad lion" id="myAudio" src="../../static/dashboard/music/index_music.mp3" loop="True" hidden="true" autostart="true" preload="none" volume="50%"> -->


        </main>
    </div>

    <div class="dashboard__modals">
        <div class="popuptext dashboard__modal dashboard__modal--hidden" type="hidden" id="sound_modal">
            <button id="modal-close" class="game__close-btn" onclick="myFunctionModals()"">Close</button>
            <div id="audio-player-container">
                <p>Audio Player</p>
                <audio src="../../static/dashboard/music/index_music.mp3" hidden="true" autostart="true" preload="metadata" loop></audio>
                <!-- <embed name="sad lion" id="myAudio" src="../../static/dashboard/music/index_music.mp3" loop="True" hidden="true" autostart="true" preload="none" volume="50%"> -->
                <button id="play-icon"></button>
                <output id="volume-output">100</output>
                <input type="range" id="volume-slider" max="100" value="100">
                <button id="mute-icon"></button>
            </div>
        </div>
        <div class="popuptext popuptext2 dashboard__modal dashboard__modal--hidden" type="hidden" id="theme_modal">
            <button id="modal-close" class="game__close-btn" onclick="myFunctionModals()"">Close</button>
            <div class="toggle-container">
                <button class="theme-btn pink" onclick="setTheme('pink')" title="Pink mode">Pink</button>
                <button class="theme-btn green" onclick="setTheme('green')" title="Green mode">Green</button>
                <button class="theme-btn blue" onclick="setTheme('blue')" title="Blue mode">Blue</button>
            </div>
        </div>
        <div class="popuptext popuptext3 dashboard__modal dashboard__modal--hidden" type="hidden" id="games_modal">
            <button id="modal-close" class="game__close-btn" onclick="myFunctionModals()"">Close</button>
            <ul>

                {% for game in finished_games %}
                    {% if game.player_1.user.id == user_id %}
                        <li>{{game.player_2.user}}, {{ game.get_status_display }}</li>
                    {% else %}
                        <li>{{game.player_1.user}}, {{ game.get_status_display }}</li>
                    {% endif %}
                {% endfor %}

                {% for game in processing_games %}
                    {% if game.player_1.user.username == user %}
                        <li>{{game.player_2}}, {{ game.get_status_display }}</li>
                    {% else %}
                        <li>{{game.player_1}}, {{ game.get_status_display }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>


        

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
          
              
              <filter id="squiggly-0">
                <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0"/>
                <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="4" />
              </filter>
              <filter id="squiggly-1">
                <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="1"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="5" />
              </filter>
              
              <filter id="squiggly-2">
                <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="2"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="4" />
              </filter>
              <filter id="squiggly-3">
                <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="3"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="5" />
              </filter>
              
              <filter id="squiggly-4">
                <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="4"/>
          <feDisplacementMap in="SourceGraphic" in2="noise" scale="4" />
              </filter>
            </defs> 
          </svg>
    </div>
    

    

    {% else %}
        <a href="/login">Login</a>
    {% endif %}


    




    <script>
        const setTheme = theme => document.documentElement.className = theme;

        document.querySelector('#new_game_btn').onclick = function(e) {
                console.log('it works')
                var data = new FormData();
                console.log('{{user.id}}')
                console.log('{{user.user.id}}')

                data.append('user_id', parseInt('{{user.id}}'));
                fetch('/api/game/', {
                    method: 'POST',
                    headers: {
                      'X-CSRFToken': '{{csrf_token}}',
                    },
                    body: data,
                    credentials: "same-origin",
                }).then(res=>{
                    res.json().then(data=>{
                        window.location.replace('/game/' + data.id);
                    });
                    
                });
    
            };


        document.querySelectorAll('.open_game').forEach(function(open_game) {
            open_game.onclick = function(e) {
            console.log(e.target.id.split('--')[1], '{{ user_id }}');
            window.location.replace('/game/' + e.target.id.split('--')[1]);
            }
        })


        document.querySelectorAll('.join_game').forEach(function(join_game) {
            join_game.onclick = function(e) {
            console.log(e.target.id.split('--')[1], '{{ user_id }}');

            var data = new FormData();
            data.append('user_id', '{{user_id}}');
            fetch('/api/game/' + e.target.id.split('--')[1] + '/', {
                method: 'PUT',
                headers: {
                'X-CSRFToken': '{{csrf_token}}',
                },
                body: data,
                credentials: "same-origin",
            }).then(res=>{
                res.json().then(data=>{
                    
                    window.location.replace('/game/' + data.id);
                });
                
            });
            
            }
        })


        var sound = false;
        var games = false;
        var theme = false;

        function myFunctionModals() {
            var popup_g = document.getElementById("games_modal");
            var popup_s = document.getElementById("sound_modal");
            var popup_t = document.getElementById("theme_modal");

            sound = false;
            games = false;
            theme = false;
            popup_g.style.visibility = 'hidden';
            popup_t.style.visibility = 'hidden';
            popup_s.style.visibility = 'hidden';

        }

        // When the user clicks on <div>, open the popup
        function myFunctionGames() {
          var popup_g = document.getElementById("games_modal");
          var popup_s = document.getElementById("sound_modal");
          var popup_t = document.getElementById("theme_modal");
          
          if (games==false) {
            popup_g.style.visibility = 'visible';
            games = true;
          }

          else {
            popup_g.style.visibility = 'hidden';
            games = false;
          }

          if (sound==true) {
            popup_s.style.visibility = 'hidden';
            sound = false;
          }

          if (theme==true) {
            popup_t.style.visibility = 'hidden';
            theme = false;
          }

        }

        function myFunctionSound() {
          var popup_g = document.getElementById("games_modal");
          var popup_s = document.getElementById("sound_modal");
          var popup_t = document.getElementById("theme_modal");
          
          if (sound==false) {
            popup_s.style.visibility = 'visible';
            sound = true;
          }

          else {
            popup_s.style.visibility = 'hidden';
            sound = false;
          }

          if (games==true) {
            popup_g.style.visibility = 'hidden';
            games = false;
          }

          if (theme==true) {
            popup_t.style.visibility = 'hidden';
            theme = false;
          }
            
        }

        function myFunctionTheme() {
          var popup_g = document.getElementById("games_modal");
          var popup_s = document.getElementById("sound_modal");
          var popup_t = document.getElementById("theme_modal");
          
          if (theme==false) {
            popup_t.style.visibility = 'visible';
            theme = true;
          }

          else {
            popup_t.style.visibility = 'hidden';
            theme = false;
          }

          if (sound==true) {
            popup_s.style.visibility = 'hidden';
            sound = false;
          }

          if (games==true) {
            popup_g.style.visibility = 'hidden';
            games = false;
          }
            
        }


        const audio = document.querySelector('audio');

        const volumeSlider = document.getElementById('volume-slider');
        const outputContainer = document.getElementById('volume-output');

        volumeSlider.addEventListener('input', (e) => {
            const value = e.target.value;

            outputContainer.textContent = value;
            audio.volume = value / 100;
        });


    </script>

</body>
</html>

