{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../game/static/dashboard/css/style.css">
    <title>Dashboard</title>
</head>
<body>

    {% if user.is_authenticated %}
    <div class="container">

        <header class="topbar">
            <a href="/logout" class="topbar__btn game_btn">Logout!</a>
        </header>
        
        <main class="dashboard">
            <div class="dashboard__title">
                <h1>
                    <span>B</span>
                    <span>U</span>
                    <span>N</span>
                    <span>S</span>
                    <span>!</span>
                </h1>
            </div>

            <div class="dashboard__columns">
                <div class='dashboard__game_list'>
                    <ul class="game_list">
                    {% if active_games %}
                        {% for game in active_games %} 
                            {% if game.player_1.user.id == user_id or game.player_2.user.id == user_id %}
                            <li class="game_item"><p class="open_game" id="open_game--{{ game.id }}">
                                {% if game.player_1.user.id == user_id %}
                                    {{game.player_2.user}},
                                {% else %}
                                    {{game.player_1.user}},
                                {% endif%} {{ game.get_status_display }}</p></li>
                            {% endif %}
                        {% endfor %}
                    {% endif%}
        
                    {% if waiting_games %}
                        {% for game in waiting_games %} 
                            {% if game.player_1.user.id != user_id %}
                            <li><p class="join_game" id="join_game--{{ game.id }}">{{game.player_1}}, {{ game.get_status_display }}</p></li>
                            {% endif %}
                        {% endfor %}
                    {% endif%}
        
                    {% if not waiting_games and not active_games %}
                        <p>There are no games yet!</p>
                        <p>You can create your own or come back later :)</p>
                    {% endif%}
                        
                    </ul>


                    
                </div>

                <div class="dashboard__new_game">
                    <div class="dashboard__btn game_btn" id="new_game_btn">New Game!</div>
                </div>
                

            </div>
            
        </main>

        

    </div>








    {% else %}
        <a href="/login">Login</a>
    {% endif %}


    




    <script>
        document.querySelector('#new_game_btn').onclick = function(e) {
                console.log('it works')
                var data = new FormData();
                console.log('{{user.id}}')
                console.log('{{user.user.id}}')

                data.append('user_id', parseInt('{{user.id}}'));
                fetch('/api/game/', {
                    method: 'POST',
                    headers: {
                      'X-CSRFToken': '{{csrf_token}}',
                    },
                    body: data,
                    credentials: "same-origin",
                }).then(res=>{
                    res.json().then(data=>{
                        window.location.replace('/game/' + data.id);
                    });
                    
                });
    
            };


        document.querySelectorAll('.join_game').forEach(function(join_game) {
            join_game.onclick = function(e) {
            console.log(e.target.id.split('--')[1], '{{ user_id }}');

            var data = new FormData();
            data.append('user_id', '{{user_id}}');
            fetch('/api/game/' + e.target.id.split('--')[1] + '/', {
                method: 'PUT',
                headers: {
                'X-CSRFToken': '{{csrf_token}}',
                },
                body: data,
                credentials: "same-origin",
            }).then(res=>{
                res.json().then(data=>{
                    
                    window.location.replace('/game/' + data.id);
                });
                
            });
            
            }
        })

    </script>

</body>
</html>

