<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../../game/static/game/css/index.css">
    <link rel="stylesheet" href="../../static/dashboard/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,300;0,800;1,300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../../static/dashboard/images/favicon2.ico"/>

    {% if True %}
    <link rel="stylesheet" href="../../static/dashboard/css/purple_theme.css">
    {% else %}
    <link rel="stylesheet" href="../../static/dashboard/css/purple_theme.css">
    {% endif %}

</head>
<body>
    <div class="container">
        <div class="accounts">
            {% csrf_token %}
            <a href="/login"><button onclick="playSound()" class="accounts__btn">Logout</button></a>
        </div>

        <div class="title">
            <h1>
              <span>P</span>
              <span>U</span>
              <span>N</span>
              <span>S</span>
              <span>!</span>
            </h1>
        </div>


        <div class="main">
            <div class='left'>
                
                <div class='waiting_games'>
                    <ul>
                    {% if active_games %}
                        {% for game in active_games %} 
                            {% if game.player_1.user.id == user_id or game.player_2.user.id == user_id %}
                            <li><p class="open_game" id="open_game--{{ game.id }}">
                                {% if game.player_1.user.id == user_id %}
                                    {{game.player_2.user}},
                                {% else %}
                                    {{game.player_1.user}},
                                {% endif%} {{ game.get_status_display }}</p></li>
                            {% endif %}
                        {% endfor %}
                    {% endif%}

                    {% if waiting_games %}
                        {% for game in waiting_games %} 
                            {% if game.player_1.user.id != user_id %}
                            <li><p class="join_game" id="join_game--{{ game.id }}">{{game.player_1}}, {{ game.get_status_display }}</p></li>
                            {% endif %}
                        {% endfor %}
                    {% endif%}

                    {% if not waiting_games and not active_games %}
                        <p>There are no games yet!</p>
                        <p>You can create your own or come back later :)</p>
                    {% endif%}
                        
                    </ul>
                    
                </div>

                


                <!-- style="background: url('../../static/dashboard/images/crown.png')" -->
                <div class="options">
                    <button class="popup popup2" onclick="myFunctionSettings()"></button>
                    <button class="popup" onclick="myFunctionGames()"></button>

                    <div class="games popuptext popuptext2" id="Settings" type="hidden" style="visibility:hidden">
                        <p>Music: on/pff</p>
                        <p>Sound: on/pff</p>
                    </div>

                    <div class="games popuptext" id="myPopup" type="hidden" style="visibility:hidden">
                        <ul>
                            {% for game in games %}
                                {% if game.player_1.user.username == user %}
                                    <li>{{game.player_2}}, {{ game.get_status_display }}</li>
                                {% else %}
                                    <li>{{game.player_1}}, {{ game.get_status_display }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
    

                </div>
                
            </div>
            <div class='right'>
                <div class="new__game">
                    <button id="new-game-btn" class="game__btn">New Game</button> 
                 </div>
                 <img class="bunny" src="../../static/dashboard/images/bun4_1.gif" alt="a seabun" />
            </div>

        </div>



        <!-- <embed name="lemoncake" id="myAudio" src="../../static/dashboard/music/lemoncake.mp3" loop="true" hidden="true" autostart="true" preload="none" volume="50%"> -->
        <embed name="sad lion" id="myAudio" src="../../static/dashboard/music/shark.mp3" loop="True" hidden="true" autostart="true" preload="none" volume="50%">
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    
    <script>

        document.querySelector('#new-game-btn').onclick = function(e) {
            console.log('it works')
            var data = new FormData();
            data.append('user_id', '{{user_id}}');
            fetch('/api/game/', {
                method: 'POST',
                headers: {
                  'X-CSRFToken': '{{csrf_token}}',
                },
                body: data,
                credentials: "same-origin",
            }).then(res=>{
                res.json().then(data=>{
                    window.location.replace('/game/' + data.id);
                });
                
            });

        };

        // a href="/game/{{game.id}}/"

        document.querySelectorAll('.join_game').forEach(function(join_game) {
            join_game.onclick = function(e) {
            console.log(e.target.id.split('--')[1], '{{ user_id }}');

            var data = new FormData();
            data.append('user_id', '{{user_id}}');
            fetch('/api/game/' + e.target.id.split('--')[1] + '/', {
                method: 'PUT',
                headers: {
                  'X-CSRFToken': '{{csrf_token}}',
                },
                body: data,
                credentials: "same-origin",
            }).then(res=>{
                res.json().then(data=>{
                    
                    window.location.replace('/game/' + data.id);
                });
                
            });
            
            }
        })

        document.querySelectorAll('.open_game').forEach(function(open_game) {
            open_game.onclick = function(e) {
            console.log(e.target.id.split('--')[1], '{{ user_id }}');
            window.location.replace('/game/' + e.target.id.split('--')[1]);
            }
        })


        var settings = false
        var games = false

        // When the user clicks on <div>, open the popup
        function myFunctionGames() {
          var popup_g = document.getElementById("myPopup");
          var popup_s = document.getElementById("Settings");
          
          if (games==false) {
            popup_g.style.visibility = 'visible';
            games = true;
          }

          else {
            popup_g.style.visibility = 'hidden';
            games = false;
          }

          if (settings==true) {
            popup_s.style.visibility = 'hidden';
            settings = false;
          }

        }

        function myFunctionSettings() {
          var popup_g = document.getElementById("myPopup");
          var popup_s = document.getElementById("Settings");
          
          if (settings==false) {
            popup_s.style.visibility = 'visible';
            settings = true;
          }

          else {
            popup_s.style.visibility = 'hidden';
            settings = false;
          }

          if (games==true) {
            popup_g.style.visibility = 'hidden';
            games = false;
          }
            
        }


    </script>

</body>
</html>