

* {
    color: var(--light_color);
    font-family: 'Press Start 2P', cursive;
}

body {
    background: var(--solid_color);
    background: linear-gradient(90deg, var(--solid_color) 30%, var(--solid_color) 100%);

}

.container {
  width: 900px;
  margin: 0 auto;
}

.title {
    color: var(--light_color);
    
    font-size: 30px;
    text-align: center;
    box-shadow: 0 10px 20px var(--shadow_color);
    height: 150px;
    margin: 50px;
    border: (8, 25, 60);
    /* outline: 2px solid rgba(0, 0, 0, 0.4); */

    border-width: 4px;
    border-style: solid;
    border-color: var(--light_color) var(--accent_color) var(--accent_color) var(--light_color);

}


.accounts {
    text-align: right;
}

.accounts__btn {
    background: none;
    color: var(--light_color);
    height: 40px;
    width: 200px;
    font-size: 20px;
    transition: all 0.4s;
    box-shadow: 0 10px 20px var(--shadow_color);
    margin: 5px;

    border-width: 4px;
    border-style: solid;
    border-color: var(--light_color) var(--accent_color) var(--accent_color) var(--light_color);
}

.accounts__btn:hover {

    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 10px 20px var(--shadow_color);


}

.accounts__btn:focus {
    outline: none;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.options {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr 1fr;
  grid-gap: 2px;

}

.left,
.right {
    box-sizing: border-box;
    width: 420px;
    float: left;
    padding: 20px;
}

.left {
    margin-right: 60px;
    /* border: 1px solid var(--shadow_color); */
}

.right {
    /* border: 1px solid var(--shadow_color); */
}

.games {
    min-height: 35px;
    min-width: 300px;
    /* outline-style: solid; */
    outline: rgba(159, 93, 43);
    padding-left: 20px;
    margin-bottom: 20px;
    background: var(--shadow_color);
    
}

.new__game {
    text-align: center;
    

}

.game__btn {
    background: none;
    color: var(--light_color);
    /* border-radius: 2px; */
    height: 80px;
    width: 300px;
    font-size: 20px;
    outline: none;
    box-shadow: 0 10px 20px var(--shadow_color);
    transition: all 0.4s;

    border-width: 4px;
    border-style: solid;
    border-color: var(--light_color) var(--accent_color) var(--accent_color) var(--light_color);
    
}

.game__btn:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 10px 20px var(--shadow_color);
}

.game__btn:focus {
    outline: none;
}




html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  height: 100px;
}

h1 span {
  position: relative;
  top: 10px;
  display: inline-block;
  animation: bounce .4s ease infinite alternate;
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  color: var(--light_color);
  text-shadow: 0 1px 0 var(--accent_color),
               0 2px 0 var(--accent_color),
               0 3px 0 var(--accent_color),
               0 4px 0 var(--accent_color),
               0 5px 0 var(--accent_color),
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px var(--shadow_color);
}

h1 span:nth-child(2) { animation-delay: .1s; }
h1 span:nth-child(3) { animation-delay: .2s; }
h1 span:nth-child(4) { animation-delay: .3s; }
h1 span:nth-child(5) { animation-delay: .4s; }
h1 span:nth-child(6) { animation-delay: .5s; }


@keyframes bounce {
  100% {
    top: -10px;
    text-shadow: 0 1px 0 var(--accent_color),
                 0 2px 0 var(--accent_color),
                 0 3px 0 var(--accent_color),
                 0 4px 0 var(--accent_color),
                 0 5px 0 var(--accent_color),
                 0 6px 0 var(--accent_color),
                 0 7px 0 var(--accent_color),
                 0 8px 0 var(--accent_color),
                 0 9px 0 var(--accent_color),
                 0 50px 25px var(--shadow_color);
  }
}


/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  width: 40px;
  height: 40px;

  border-width: 4px;
  border-style: solid;
  border-color: var(--light_color) var(--accent_color) var(--accent_color) var(--light_color);
  background: none;

  transition: all 0.4s;
}

.popup:hover {
  transform: rotate(360deg);
}

/* The actual popup (appears on top) */
.popuptext {
  visibility: hidden;
  width: 50pxpx;
  background-color: var(--accent_color);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -30px;
  left: 140px;
  margin-left: -80px;

  line-height: 20px;
  font-size: 10px;
  overflow-y: scroll;
  height: 30px;
  animation: fadeIn 1s;
}

.popuptext2 {
  visibility: hidden;
  width: 160px;
  background-color: var(--accent_color);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -30px;
  left: 195px;
  margin-left: -80px;
  animation: fadeIn 1s;

  line-height: 20px;
  font-size: 10px;
  overflow-y: scroll;
  height: 30px;
}

/* Popup arrow */
.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--accent_color) var(--accent_color) transparent var(--accent_color);
}



.waiting_games {
  list-style: none;
  margin-bottom: 23px;
  height: 150px;
  width: 100%;
  overflow-y: scroll;

  border-width: 4px;
  border-style: solid;
  border-color: var(--light_color) var(--accent_color) var(--accent_color) var(--light_color);
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  height: 10px;
}

.bunny {
  position: relative;
  left: 200px;
}

.open_game {
  color: black;
}
